@import '../variables';
@import '../mixins';

// H/V center items in the middle of the overlay
%center-items-in-overlay {
  display: table;

  > .#{$prefix}-container-wrapper {
    background-color: $color-black;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.#{$prefix}-ui-audioonly-overlay {
  @extend %ui-container;
  @extend %center-items-in-overlay;

  @include layout-cover;
  @include hidden-animated;

  @keyframes breathe {
    30% {
      transform: scale(1.05);
    }

    60% {
      transform: scale(1);
    }
  }

  background-color: $color-black;

  .#{$prefix}-ui-audioonly-overlay-indicator {
    @include hidden-animated;

    animation: breathe 10s ease-in-out infinite;
    background-image: svg('assets/skin-mi-wbc/images/audioonly.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 15vh;
    width: 15vw;
  }
}


